#!/usr/sbin/nft -f
flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy accept;
    iif "lo" accept
    tcp dport 18789 ip saddr 10.0.10.14 accept   # only proxy-01
    tcp dport 18789 drop
  }
}

